@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #EEE;
  font-family: 'Roboto', Arial, sans-serif;
}

#header {
  background-color: #353545;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  color: #F7F7F7;
  padding: 10px 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#game-div {
  display: none;
}

#main-header {
  margin: 50px 0;
}

#main-header h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background: #353545;
  padding: 5px;
}

#gameboard button {
  cursor: pointer;
  transition: all .2s;
  background: #EEE;
  border: none;
  border-radius: 0;
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-family: 'Potta One';
}

#gameboard button:hover {
  background-color: #E1E1E1;
}

#choose-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  margin-top: 30px;
  padding-bottom: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  width: 50vw;
  display: none;
}

#players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px 0 20px;
}

#players div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px 20px 15px;
}

#players div input {
  padding: 5px;
  font-size: 18px;
}

.player-icon {
  margin-bottom: 10px;
  width: 100px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #353545;
  color: #F7F7F7;
  cursor: pointer;
  opacity: 0.9;
  transition: all .2s;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  opacity: 1;
}

@media (max-width: 1080px) {
  #players {
    flex-direction: column;
  }
}